body {
    background: url(../img/dragoman.jpg) right bottom no-repeat;
}

.wrapper {
    background: #fff;
}

.clear-navbar {
    margin-top: 60px;
}

.brand {
    text-transform: uppercase;
}

.home-banner {
    background: url(../img/dragoman_bg.jpg) center -150px no-repeat;
    color: #fff;
}

.catalogs .nav-stacked a button {
    float: right;
}

.phrases table thead {
    border-bottom: solid 1px #ccc;
    display: block;
    width: 100%;
    padding-bottom: 10px;
}

.phrases table tbody {
    display: block;
    height: 400px;
    overflow: auto;
    width: 100%;
}

.phrases table tfoot {
    border-top: solid 1px #ccc;
    display: block;
    width: 100%;
    padding-top: 10px;
}

.phrases table thead tr,
.phrases table tfoot tr {
    display: block;
    width: 100%;
}

.phrases table thead th,
.phrases table tfoot td {
    border: none;
}

.phrases table th,
.phrases table td {
    width: 450px;
}

.phrases table tr:hover,
.phrases table tr label:hover {
    cursor: pointer;
}

.phrases .optionsBar {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.phrases textarea {
    width: 90%;
}
.phrases .control-label {
    text-align: left;
}
.phrases .control-label {
    width: 50%;
}

.new-phrase textarea {
    width: 40%;
}
.new-phrase .translation {
    float: right;
}

.fileDrop {
    text-align: center;
    color: #999;
}




.messageRow:hover {
    background: #ddd;
    cursor: pointer;
}


.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://sampsonresume.com/labs/pIkfp.gif')
                50% 50%
                no-repeat;
}

.loading .loadingModal {
    display: block;
}​
