body {
    background: url(../img/dragoman.jpg) right bottom no-repeat;
}

.wrapper {
    background: #fff;
}

.clear-navbar {
    margin-top: 40px;
}

.brand {
    text-transform: uppercase;
}

.home-banner {
    background: url(../img/dragoman_bg.jpg) center -150px no-repeat;
    color: #fff;
}

.catalogs .nav-stacked a button {
    float: right;
}

.messageList {
    .messagesCol {
        height: 500px;
        overflow: scroll;
        hr {
            margin: 10px 0;
        }
    }
}

.filterButtons {
    margin-right: 30px;
}

.fileDrop {
    text-align: center;
    color: #999;
}

.extra-muted {
    color: #ccc;
}

.messagesCol {
    li {
        cursor: pointer;
    }
    .inactive,
    .inactive .text-info,
    .inactive .text-warning {
        color: #ccc;
    }
}

.span0_25 {
    width: 15px;
}

.loadingModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 )
        url('http://sampsonresume.com/labs/pIkfp.gif')
        50% 50% no-repeat;
}

.loading .loadingModal {
    display: block;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}
