<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>Catalogs <small>{{catalog.name}}</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">

        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li ng-class="{active: languageCode == null}"><a ng-href="/catalogs/{{catalog.id}}">Overview</a></li>
                <li ng-class="{active: code == languageCode}" ng-repeat="(code, language) in catalog.languages">
                    <a href="#/catalogs/{{catalog.id}}/{{code}}">{{language.name}}</a>
                </li>
                <li><a data-target="#importPofileModal" show-modal role="button" data-toggle="modal">Import PO file</a>
                <li><a data-target="#addLanguageModal" show-modal role="button" data-toggle="modal">Add language</a>
            </ul>
        </div>

        <div class="tab-content">
            <div class="tab-pane" ng-class="{active: !languageCode}">
                <div class="well">
                    <h4 ng-show="catalog.description != ''">{{catalog.description}}</h4>
                    <p>Total messages:</p>
                    <p>Untranslated:</p>
                    <p>Fuzzy:</p>
                </div>
                <span>
            </div>

            <div class="tab-pane" ng-class="{active: languageCode}">
                <form class="form-horizontal">
                    <legend>
                        Messages
                        <div class="form-search pull-right">
                            <div class="btn-group filterButtons" data-toggle="buttons-radio">
                                <button type="button" ng-class="{active: messagesState == 0}" ng-click="setMessagesState(0)" class="btn">All</button>
                                <button type="button" ng-class="{active: messagesState == 1}" ng-click="setMessagesState(1)" class="btn">Untranslated</button>
                                <button type="button" ng-class="{active: messagesState == 2}" ng-click="setMessagesState(2)" class="btn">Fuzzy</button>
                            </div>
                            <div class="input-append">
                                <input type="text" class="span2 search-query" placeholder="Search" ng-change="clearEdit()" ng-model="searchMsgStr">
                                <button type="submit" ng-disabled="searchMsgStr" class="btn" ng-click="clearSearch()"><b class="icon-remove"></b></button>
                            </div>
                        </div>
                    </legend>
                    <div ng-include="'partials/message-list.html'"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div ng-cloak ng-include="'partials/new-catalog-modal.html'"></div>
<div ng-cloak ng-include="'partials/import-pofile-modal.html'"></div>
