<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>Catalogs <small>{{catalog.name}}</small></h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
    </div>
</div>

<div class="row">
    <div class="span12">
        <ul class="nav nav-tabs">
              <li><a href="#/catalogs/{{catalog.id}}/">Overview</a></li>
              <li ng-class="{active: lang.code == language.code}" ng-repeat="lang in languages">
                  <a href="#/catalogs/{{catalog.id}}/{{lang.code}}">{{lang.name}}</a>
              </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab=${langcode}">
                <form action="/catalog/${catalog}/${lang}" method="POST" class="form-horizontal">
                    <legend>Phrases</legend>
                    <div class="phrases">
                        <table class="table table-striped" cellpadding="7">
                            <tr ng-class="{warning: messages[message][1] == null}" ng-repeat="message in messageKeys">
                                <td>
                                <label class="control-label" for="message">{{message}}</label>
                                </td>
                                <td>
                                    <textarea class="pull-right" id="id_${msg['_id']}" name="id_${msg['_id']}" rows="3">{{messages[message][1]}}</textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr />
                    <div class="alert alert-info new-phrase">
                        <p>
                        <strong>New phrase</strong></p>
                        <textarea name="msgid" class="phrase" placeholder="English"></textarea>
                        <textarea name="msgstr" class="translation" placeholder="Translation"></textarea>
                    </div>
                    <hr />
                    <button class="btn btn-info" type="submit" name="submit">Save catalog</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div style="display: none;">

<div id="phrase_add">
  <form action="/catalog/${catalog}/${lang}" method="POST">
    <input type="hidden" name="_method" value="PUT" />
    <table>
      <tr>
    <td>
      <label for="new_phrase_id">New Phrase (in English)</label>
      <textarea name="msgid"></textarea>
    </td>
    <td>
      <label for="new_phrase_translation">Translation</label>
      <textarea name="msgstr"></textarea>
      <br />
      <input class="right" type="submit" name="_submit" value="create phrase" />
    </td>
      </tr>
    </table>
  </form>
</div>




<div id="catalog_edit">
  <form action="/catalog/${catalog}/${lang}" method="POST">
    <input type="submit" name="submit" value="save catalog" />
    <table class="phrase_edit">
      % for msg in phrases:
    % if msg['phrase'] != '':

      <tr>
    <td class="msgid">${msg['phrase']}</td>
    <td class="msgstr">
      <textarea name="id_${msg['_id']}">${msg['translation']}</textarea>
    </td>
    <td class="msg_actions">
      <form action="/catalog/${catalog}/${lang}/${msg['_id']}" method="DELETE">
        <input type="button" name="delete_action" value="delete" />
      </form>
      <!-- <form action="/catalog/${catalog}/${lang}" method="POST"> -->
      <!--   <input type="submit" name="delete_action" value="update" /> -->
      <!-- </form> -->
    </td>
      </tr>
     % endif
      % endfor
    </table>
    <input type="submit" name="submit" value="Save Catalog" />
  </form>
</div>
</div>