<div class="row" style="margin-top: 30px;">
    <div class="span12">
        <div class="hero-unit home-banner">
            <h1>Dragoman</h1>
            <h3>
              Welcome to Dragoman, your online translation tool<br />    for YouGov services!
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h1>Getting Started</h1>
        <p>
            Dragoman lets you translate phrases in an application in real time.
        </p>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h3>The basics</h3>
        <p>
            To get started, you'll need to <a href='#catalogs'>create a
            catalog</a>. A catalog is collection of languages and phrases. More
            specifically a catalog will have a set of languages that all have
            the same set of phrases that can be used for translations. When you
            create a catalog none of the phrases will be translated. A phrase is
            short bit of English text that is mean to be used within an
            application.
        </p>
    </div>
    <div class="span4">
        <h3>&nbsp;</h3>
        <p>
            Once you have a catalog you will select a language to create within
            the catalog. With the language created you can head to that
            catalog's language page and start adding and editing phrases!
        </p>
    </div>
    <div class="span4">
        <h3>&nbsp;</h3>
        <p>
            Once you have a set of catalogs you will be able to visit those
            catalogs using the menu to the left. On the language page, if you
            want to only see phrases that haven't been translated just click the
            "Show Empty" link at the top.
        </p>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h3>A note about phrases</h3>
        <p>
            When you create phrases they should be relatively short. One
            sentence (like the previous) is a good guideline. There are
            obviously going to be sections that might to be translated as a
            group, but in those cases it is a good idea to try and break them in
            to smaller pieces if at all possible. The reason for this is that
            Dragoman uses the phrase in a URL. If the phrase is too long it
            can have problems using it. This limit hasn't been reached as of
            yet, but just in case lets keep things short!
        </p>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h3>Start Translating!</h3>
        <p>
            <a href="#catalogs">Edit the catalogs</a>
        </p>
    </div>
</div>
