<div class="messageList" ng-class="{loading: loading, editing: editing}">
    <div ng-show="loading" class="loadingModal"></div>​

    <div class="row">
        <div class="span6">
            <!-- <button class="span5 btn .btn-mini" scroll="ul.messagesCol" direction="U" ng-disabled="scrollAtTop"><b class="icon-chevron-up"></b></button> -->
            <div class="clearfix"></div>
            <ul class="nav nav-pills nav-stacked messagesCol">
                <li ng-repeat="message in messages | filter:filterByText | filter:filterByMessageState"
                        ng-class="messageStatusClass(message, 'active', 'inactive')">
                    <a ng-click="editMessage(message);">
                        <dl class="dl-horizontal">
                            <dt>EN</dt>
                            <dd>{{message.msgid}}</dd>
                            <dt class="text-warning">{{languageCode.toUpperCase()}}</dt>
                            <dd class="text-warning">{{message.msgstr[0]}}</dd>
                        </dl>
                    </a>
                    <!--<hr ng-show="!$last" />-->
                </li>
            </ul>
            <!-- <button ng-disabled="scrollAtBottom" class="span5 btn .btn-mini" scroll="ul.messagesCol" direction="D"><b class="icon-chevron-down"></b></button> -->
        </div>
        <div class="span6 editMessageCol">
            <div class="well editMessage" ng-show="currentMessage">
                <h3>Message Editor</h3>
                <div ng-hide="currentMessage">
                    <dl class="dl-horizontal">
                        <dt>Messages</dt>
                        <dd>{{messageStates.all.count}}</dd>
                        <dt ng-class="{'text-error': messageStates.untranslated.count > 0}">Untranslated</dt>
                        <dd ng-class="{'text-error': messageStates.untranslated.count > 0}">{{messageStates.untranslated.count}}</dd>
                        <dt ng-class="{'text-error': messageStates.fuzzy.count > 0}">Fuzzy</dt>
                        <dd ng-class="{'text-error': messageStates.fuzzy.count > 0}">{{messageStates.fuzzy.count}}</dd>
                    </dl>
                </div>
                <div class="editMessageContent">
                    <form novalidate name="editMessageForm">
                        <!-- <legend>Edit translation</legend> -->
                        <label>English</label>
                        <textarea class="span5" ng-readonly="!advanced_edit" ng-model="currentMessage.msgid" rows="2"></textarea>
                        <textarea class="span5" ng-readonly="!advanced_edit" ng-show="currentMessage.msgid_plural" ng-model="currentMessage.msgid_plural" rows="2" ng-change="change(currentMessage)"></textarea>
                        <br /><br />
                        <label class="text-warning">{{language.name}}</label>
                        <textarea class="span5" ng-model="currentMessage.msgstr[0]" rows="2"></textarea>
                        <textarea class="span5" ng-show="currentMessage.msgstr[1]" ng-model="currentMessage.msgstr[1]" rows="2"></textarea>
                        <hr />
                        <label>References</label>
                        <ul class="unstyled" ng-repeat="reference in currentMessage.references">
                            <li><code>{{reference}}</code></li>
                        </ul>
                        <label>Comments</label>
                        <textarea class="span5" ng-model="currentMessage.comments" rows="2"></textarea>
                        <br /><br />
                        <label class="checkbox">
                            <input type="checkbox" ng-model="currentMessage.fuzzy"> Fuzzy
                        </label>
                        <hr />
                        <button class="btn btn-info" type="submit" ng-disabled="!isChanged()" ng-click="update()">Save</button>
                        <a ng-click="cancelEdit();">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>