<div class="messageList" ng-class="{loading: loading, editing: editing}">
    <div ng-show="loading" class="loadingModal"></div>​

    <div class="row">
        <div class="span6">
            <!-- <button class="span5 btn .btn-mini" scroll="ul.messagesCol" direction="U" ng-disabled="scrollAtTop"><b class="icon-chevron-up"></b></button> -->
            <div class="clearfix"></div>
            <ul class="nav nav-pills nav-stacked messagesCol">
                <li ng-repeat="message in messages | filter:filterByText | filter:filterByMessageState"
                        ng-click="editMessage(message);" ng-class="messageStatusClass(message, 'active', 'inactive')">
                    <div class="row">
                        <div class="">
                            <div class="span0_5">EN</div>
                            <div class="span5">{{message.msgid}}</div>

                            <div ng-show="message.msgid_plural">
                                <div class="span0_5"></div>
                                <div class="span5"><em>{{message.msgid_plural}}</em></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div>
                            <div class="span0_5 text-warning">{{languageCode.toUpperCase()}}</div>
                            <div class="span5 text-warning">{{message.msgstr[0]}}</div>

                            <div ng-show="message.msgid_plural">
                                <div class="span0_5"></div>
                                <div class="span5 text-warning"><em>{{message.msgstr[1]}}</em></a></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <hr />
                </li>
            </ul>
            <!-- <button ng-disabled="scrollAtBottom" class="span5 btn .btn-mini" scroll="ul.messagesCol" direction="D"><b class="icon-chevron-down"></b></button> -->
        </div>
        <div class="span6 editMessageCol">
            <div class="alert alert-info editMessage" ng-show="currentMessage">
                <form novalidate name="editMessageForm">
                    <legend>Edit translation</legend>
                    <label>English</label>
                    <textarea class="span5" ng-readonly="!advanced_edit" ng-model="currentMessage.msgid" rows="2"></textarea>
                    <textarea class="span5" ng-readonly="!advanced_edit" ng-show="currentMessage.msgid_plural" ng-model="currentMessage.msgid_plural" rows="2" ng-change="change(currentMessage)"></textarea>
                    <br /><br />
                    <label>{{language.name}}</label>
                    <textarea class="span5" ng-model="currentMessage.msgstr[0]" rows="2"></textarea>
                    <textarea class="span5" ng-show="currentMessage.msgstr[1]" ng-model="currentMessage.msgstr[1]" rows="2"></textarea>
                    <hr />
                    <label>References</label>
                    <ul class="unstyled" ng-repeat="reference in currentMessage.references">
                        <li><code>{{reference}}</code></li>
                    </ul>
                    <label>Comments</label>
                    <textarea class="span5" ng-model="currentMessage.comments" rows="2"></textarea>
                    <br /><br />
                    <label class="checkbox">
                        <input type="checkbox" ng-model="currentMessage.fuzzy"> Fuzzy
                    </label>
                    <hr />
                    <button class="btn btn-info" type="submit" ng-disabled="!isChanged()" ng-click="update()">Save</button>
                    <a ng-click="cancelEdit();">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>